# SPDX-FIleCopyrightText: 2025 Ibuki Haga
# SPDX-License-Identifier: BSD-3-Clause

name: test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: All test
      run: bash -xv ./test.bash
